// .pageBody {
//   @apply bg-cover;
//   background-image: url('../../assets/images/bgImage.jpg');
// }

.pageBody {
  & > div > * {
    max-width: 1280px;
    margin: auto;

    @media (max-width: 1280px) {
      padding: 0 16px;
    }
    @media (max-width: 800px) {
      padding: 0 16px;
      margin-right: 15px;
      width: 100%;
    }
  }

  @apply bg-cover bg-white;
}
